body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.bloc_header {
    margin-left: 2.5rem;
}


                                    /* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul :hover {
    text-decoration: underline;
    color: #0065FC;
}

nav li a {
    margin-right: 4rem;
    color: black;
}

a {
    text-decoration: none;
}

#menu_hebergement {
    color: #0065FC;
}

#menu_activites {
    color: black;
}

.inscription {
    color: #0065FC;
    font-weight: bold;
}

                                /* Sous-header*/

h1 {
    font-weight: bold;
    font-size: 18px;
}

p {
    font-size: 14px;
}

.localisation {
    height: 2.9rem;
    padding: 14px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    background-color:#F2F2F2;
}

#recherche {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    padding: 9px 16px;
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-right: none;
    height: 2.9rem;
}

::placeholder {
    color: black;
    font-weight: bold;
}

.logo_recherche {
    width: 7rem;
    font-family: "raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 2px #0065FC solid;
    height: 2.9rem;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

.logo_recherche :hover {
    color: black;
}

.barre_recherche {
    display: flex;
    justify-content: stretch;
}

                                /* Filtres */

#filtres {
    display: flex;
    flex-direction: row;
}
                                
.titre_filtre {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
                                
.categories {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 50px;
    border: #F2F2F2 solid 2px;
    border-radius: 30px 30px 30px 30px;
    padding: -14px;
    justify-content: center;
    cursor: pointer;
}
                                
#money {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: -12px;
    cursor: pointer;
}
                                
.eco {
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
                                
.eco :hover {
    color: #0065FC
}
                                
#child {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: -12px;
    cursor: pointer;
}
                                
.family {
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
                                
.family :hover {
    color:#0065FC
}
                                
#love {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: -12px;
    cursor: pointer;
}
                                
.romantique {
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
                                
.romantique :hover {
    color: #0065FC;
}
                                
#pets {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: -12px;
    cursor: pointer;
}
                                
.animals {
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
                                
.animals :hover {
    color: #0065FC;
}

                                /* Infos */

#dispo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.logo_info {
    color: #0065FC;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px;
    width: 1.5%;
    text-align: center;
    cursor: pointer;
}

                                /* Section 1 : Hébérgements à Marseille */

.logements {
    width: auto;
    height: auto;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

#hebergements {
    border-radius: 1.5rem;
    background-color: #F2F2F2;
    width: 60%;
    height: 25%;
    padding: 1rem;
    margin: 0.5rem;
    margin-left: 2%;
}

h3 {
    font-weight: bold;
    cursor: pointer;
}

h3:hover {
    color: #0065FC;
}

.image_hotel {
    height: 6rem;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
}

.hotels {
    border: white solid 0.2px;
    width: 28%;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: #0000002e 0px 0px 16px;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}

.contenu_article {
    font-size: 0.8rem;
    text-align: start;
    line-height: 0.6rem;
}

.blue {
    color: #0065FC;
    cursor: pointer;
}

.grey {
    color: #F2F2F2;
    cursor: pointer;
}

.afficher_plus {
    font-weight: bold;
    color: black;
    font-size: 1.02rem;
    margin-top: 2rem;
    cursor: pointer;
}

.afficher_plus:hover {
    text-decoration: underline;
    color: #0065FC;
}

.titre_hebergement:hover {
    color: #0065FC;
    cursor: pointer;
}

                                /* Section 2 : Les plus populaires */

#populaires {
    width: 30%;
    height: 36.5rem;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
    padding: 0rem;
    margin: 0.5rem;
    margin-left: 2.5rem;
}

.bloc_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    margin: 0.5rem;

}

.image_populaire {
    width: 40%;
    height: auto;
    border-radius: 1rem 0rem 0rem 1rem;
    border: solid white;
    float: left;
    object-fit: cover;
    cursor: pointer;
}

.hotels_popu {
    height: 23%;
    border: solid white;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: white;
    padding: 0rem;
    margin: 1.2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: #0000002e 0px 0px 16px;
}

.contenu_popu {
    font-size: 0.9rem;
    width: 100%;
    height: 9.05rem;
    line-height: 1rem;
    padding-left: 1rem;
}

.titre_populaires {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.titre_populaires:hover {
    color: #0065FC
}

.fa-chart-line:before {
    content: "\f201";
    font-size: 1.5rem;
    margin-right: 2rem;
}

                                /* Section 3 : Activités à Marseille */

#bloc_activites {
    width: 100%;
    height: 100%;
    margin-left: 1.5rem;
    line-height: 1rem;
    font-size: 0.9rem;
}

.toutes_activites {
    display: flex;
    justify-content: space-between;
    margin-right: 2.5rem;
    margin-left: 0.6rem;
}

.activite_large {
    width: 35%;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: #0000002e 0px 0px 16px;
    margin-bottom: 6rem;
}

.activite_medium {
    width: 85%;
    height: 85%;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: #0000002e 0px 0px 16px;
}

.activite_small {
    width: 85%;
    height: 88%;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: #0000002e 0px 0px 16px;
}

.image_large {
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
}

.image_medium {
    width: 100%;
    height: 71%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
}

.image_small {
    width: 100%;
    height: 69%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor: pointer;
}

.bloc_fort_iles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_nd_longchamp {
    display: inline-block;
    align-items: center;
}

.fort_pomegues {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17.5rem;
}

.iles_frioul {
    display: flex;
    justify-content: center;
    height: 38.5%;
}

.notre_dame {
    display: flex;
    justify-content: center;
    height: 50%;
}

.longchamp {
    display: flex;
    justify-content: center;
    height: 39%;
}

.titre_activite {
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.titre_bloc_activites {
    margin-left: 0.5rem;
    margin-top: 2.5rem;
    cursor: pointer;
}

.titre_bloc_activites:hover {
    color: #0065FC;
}

                                /* Footer */

#bloc_footer {
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    display: flex;
}

.bloc1_footer {
    margin-right: 15rem;
}

.bloc2_footer {
    margin-right: 15rem;
}

h4 {
   margin-left: 2.5rem;
   cursor: pointer;
}

ul {
    list-style: none;
    line-height: 2rem;
    cursor: pointer;
}

h4:hover {
    color: #0065FC;
}

li:hover {
    text-decoration: underline;
    color: black;
}


                                /* FIN */